<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDIT YOUR DETAILS</title>
</head>
<body>
    <h2> YOU ARE ABOUT TO EDIT THIS USER: <%= user.email %></h2>
    <form>
        <textarea name="username"> <%= user.username %> </textarea>
        <input type="password" name="passwword" placeholder="enter password" />
        <button>EDIT</button>
    </form>
</body>
</html>